/*  your css code here. If applicable */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
    height: 100vh;
}

.vid-container, .player-container {
    margin: 10px;
}

.sound-picker, #time-select {
    margin: 10px;
}

button {
    margin: 5px;
}